/* 全域變數：預設主題 */
:root {
  --btn-bg: #2d2d2d;
  --btn-active-bg: #2d2d2d;
  --btn-active-color: #dec771;

  --icon-bg: #000000;
  --icon-color: #ffffff;

  --header-bg: #18181b;
  --footer-bg: #18181b;

  --switch-bg-none: #18181b;
  --switch-bg-blue: #023a85;
  --footer-border: oklch(55.1% 0.027 264.364);
}

/* 藍色主題 */
[data-theme='blue'] {
  --btn-active-bg: #d81b13;
  --btn-active-color: #ffffff;

  --icon-bg: #01295e;
  --icon-color: #ffffff;

  --header-bg: #023a85;
  --footer-bg: #023a85;
}

/* 全域設定 */
html,
body {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

.action-bar-btn,
.base-bars-icon,
.menu-bar,
.footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Action Bar 按鈕 */
.action-bar-btn {
  background-color: var(--btn-bg);
  padding: 4px 12px;
  border-radius: 0.25rem;
  color: inherit;
}

.action-bar-btn.active {
  background-color: var(--btn-active-bg);
  color: var(--btn-active-color);
}

/* Icon 按鈕 */
.base-bars-icon {
  padding: 8px;
  border-radius: 0.25rem;
  background-color: var(--icon-bg);
  color: var(--icon-color);
  cursor: pointer;
}

/* 主題切換按鈕 */
.btn-switch {
  width: 48px;
  height: 48px;
  display: block;
  border: solid 1px #6a7282;
}

.btn-none-switch {
  background-color: var(--switch-bg-none);
}

.btn-blue-switch {
  background-color: var(--switch-bg-blue);
}

.menu-bar {
  background-color: var(--header-bg);
}

.footer {
  background-color: var(--footer-bg);
  border-top: solid 1px var(--footer-border);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  padding: 12px 0;
  z-index: 50;
}
